body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000033;
}

nav {
    background-color: #000033;
}

h1 {
    display: block;
    text-align: center;
    padding-top: 3em;
    font-size: 30px;
    letter-spacing: 25px;
    padding-bottom: 2em;
}

.headline {
    text-align: center;
}

.header-img {
    display: block;
    margin: auto;
    width: 40%;
    height: 300px;
}


a,
ul {
    list-style-type: none;
    text-align: center;
    padding-right: 3em;
}

.table-links {
    list-style-type: none;
    text-align: center;
    padding-right: 0;
}

a:link {
    text-decoration: none;
    color: lightgrey;
}

a:hover {
    color: #9999b2;
    text-decoration: none;
}

a:visited {
    color: rgb(114, 164, 180);
}

h2 {
    letter-spacing: 3px;
    padding-top: 1.7em;
    margin-left: 2em;
}

h3 {
    font-size: 14px;
    letter-spacing: 2px;
}

.space {
    padding-top: 1.5em;
    border-spacing: 10px;
    text-align: center;
}


/* -----Flex Items----- */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2em;
}

.flex-items {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 40%;
}

.sub-flex {
    display: flex;
    flex-flow: wrap row;
    justify-content: right;
    width: 40%;
}

.index-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 50%;
}

.float-left {
    float: left;
}

footer {
    text-align: center;
    color: grey;
    font-size: xx-small;
}

footer ul {
    padding-top: 2em;
    padding-right: 5em;
    text-decoration: none;
}

.copy {
    font-size: xx-small;
}


/*------------------------------Jobs Page---------------------------- */


/* ------------Janitor Content Block-------*/

.janitor {
    background-color: aqua;
}

.janitorul {
    text-align: left;
    font-size: .5em;
    border-left-width: 3px;
}


/* ------------Elevator Attendant Block-------*/

.elevatorul {
    border: 5px;
    border-color: black;
    font-size: .5em;
    text-align: left;
}


/* ------------Valet Content Block-------*/

.valetp {
    text-size: 16px;
    color: red;
    text-align: center;
}