body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray;
}

h1 {
    display: block;
    text-align: center;
    padding-top: 3em;
    font-size: 30px;
    letter-spacing: 25px;
    padding-bottom: 2em;
}

.header-img {
    display: block;
    margin: auto;
    background-image: url();
    height: 300px;
    width: 60%;
}

a,
ul {
   list-style-type: none;
   text-align: center;
   padding-right: 3em;
}

a:hover {
    color: darkslategrey;
	text-decoration: none;
}

a:visited {
    color: rgb(114, 164, 180);
}

h3 {
    font-size: 14px;
    letter-spacing: 2px;
}

h2 {
    letter-spacing: 3px;
    padding-top: 1.7em;
    margin-left: 2em;
}

.space {
    padding-top: 1.5em;
    border-spacing: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2em;
}


p,
h2 {
    min-width: 275px;
}

.flex-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

footer {
    text-align: center;
    color: grey;
    font-size: xx-small;
}

footer ul {
    padding-top: 2em;
    padding-right: 5em;
    text-decoration: none;
}

.copy {
    font-size: xx-small;
}