body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000033;
}

h1 {
    display: block;
    text-align: center;
    padding-top: 3em;
    font-size: 30px;
    letter-spacing: 25px;
    padding-bottom: 2em;
}
.headline {

    text-align: center;
}

.header-img {
        display: block;
        margin: auto;
        width: 40%;
        height: 300px;
    }

nav ul {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    color: white;
    list-style-type: none;
}

.logo-img {
    height: 75px;
    width:120px;
    float: left;
}

a:link{
    text-decoration: none;
    color:lightgrey;
}

a:hover {
    color: #9999b2;
	text-decoration: none;
}

a:visited {
    color: rgb(114, 164, 180);
}

a,
ul {
   list-style-type: none;
   text-align: center;
   padding-right: 3em;
}

.table-links {
   list-style-type: none;
   text-align: center;
   padding-right: 0;
}


h2 {
    letter-spacing: 3px;
    padding-top: 1.7em;
    margin-left: 2em;
}

h3 {
    font-size: 14px;
    letter-spacing: 2px;
}

.space {
    padding-top: 1.5em;
    border-spacing: 10px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2em;
}

.flex-items {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width:40%;    
}

.sub-flex {
    display: flex;
    flex-flow: wrap row;
    justify-content: right;
    width: 40%;
}

.index-nav {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.float-left {
    float: left;
}

p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
}

h3 {
    text-align: left;
}
.polaroid {
    width: 100px;
    height: 80px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container {
    text-align: center;
    padding: 10px 20px;
}


.title {
    text-align: center;
    padding: 10px 20px;
}