nav ul {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
    list-style-type: none;
}

a:link{
    text-decoration: none;
    color:lightgrey;
}

li a:hover {
    background-color: #111;
}


h3{
    text-align: left;
}
.polaroid {
    
    width: 100px;
    height: 80px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {width: 100%}

.container {
    text-align: center;
    padding: 10px 20px;
}


.title {
    text-align: center;
    padding: 10px 20px;
}